@tailwind base;
@tailwind components;
@tailwind utilities;

/* DAW-ish defaults */
:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: theme('fontFamily.ui');
}


